/* Global Styles */
* {
  font-family: "Open Sans", sans-serif;
}
:root {
  --main-color: #ffa101;
}
.hidden-layer {
  transition: all 1s;
  background-color: rgb(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  color: var(--main-color);
}
.col-md-4:hover .hidden-layer {
  transform: translateY(-100%);
}
section {
  margin-bottom: 30px;
}

/* Global Styles */

/* Main Style */

/* Main Style */
